/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,500;1,400&family=Inter:wght@400;500;600&display=swap");

:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;

  --collapse-button-bg-color-dark: #2e333a;

  --ifm-code-font-size: 95%;

  --ifm-h1-font-size: 1.75rem;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h3-font-size: 1.25rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.85rem;

  --ifm-toc-border-width: 1px;

  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color-background-hover: transparent;

  --ifm-global-shadow-lw: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  --ifm-global-shadow-md: 0 5px 40px rgba(0, 0, 0, 0.1);
  --ifm-global-shadow-tl: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.1);

  --ifm-global-spacing: 1.5rem;
}

html {
  scroll-behavior: smooth;
}


.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] {
  --ifm-color-primary: white;
  --ifm-color-primary-dark: #5a91ea;

  --ifm-navbar-background-color: #191b1f;
  --ifm-global-shadow-md: 0 5px 4px rgba(255, 255, 255, 0.448);

  background-position: 0px -30vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%,
      rgba(33, 114, 229, 0.1) 0%,
      rgba(33, 36, 41, 0) 100%);

}

html[data-theme="light"] {
  --ifm-color-primary: black;

  background-position: 0px -20vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%,
      rgba(255, 0, 122, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%);

}

.html {
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-variant: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: 400;
}

.markdown a {
  color: #3578e5;
}

p {
  line-height: 1.5rem;
  font-weight: 400;
}

hr {
  border-bottom-width: 0px;
  border-top-width: 1px;
  border-color: var(--ifm-color-emphasis-200);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 32px !important;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 20px !important;
}

h4 {
  font-size: 20px !important;
}

h4 {
  font-size: 16px !important;
}

.menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

.navbar {
  align-items: center;
}

html[data-theme="dark"] .navbar {
  border-bottom: var(--ifm-toc-border-color) 1px solid;
}

html[data-theme="dark"] footer {
  background-color: rgb(75, 75, 75);
  border-top: var(--ifm-toc-border-color) .5px solid;
}

html[data-theme="light"] .navbar {
  border-bottom: var(--ifm-toc-border-color) 1px solid;
}

html[data-theme="light"] footer {
  background-color: rgb(192, 192, 192);
  border-top: var(--ifm-toc-border-color) .5px solid;
}

.container {
  padding: 0px;
  max-width: 90% !important;
}

.container.padding-top--md {
  padding-top: 2rem !important;
}

.react-toggle-track {
  background-color: var(--ifm-color-emphasis-100) !important;
}

.react-toggle-thumb {
  background-color: var(--ifm-color-emphasis-200) !important;
}

.react-toggle-thumb:hover {
  box-shadow: none !important;
}

.navbar__title {
  color: var(--ifm-color-primary);
  font-weight: 500;
}

.navbar__link {
  color: var(--ifm-color-primary);
  font-weight: 400;
}

.navbar__logo {
  height: 20px;
  width: 20px;
}

.menu__link {
  font-size: 16px;
  font-weight: 400;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  color: var(--ifm-color-secondary-darker);
}

.badge {
  margin-bottom: 16px;
}

.badge--secondary {
  --ifm-badge-background-color: var(--ifm-color-emphasis-0);
  --ifm-badge-border-color: var(--ifm-badge-background-color);
  color: var(--ifm-color-base);
}

.illustration {
  border-radius: var(--ifm-pre-border-radius);
}

iframe {
  display: block;
  padding: 0;
  margin: 1rem auto;
  border: 0;
  border-radius: 12px;
  background: transparent;
}

.react-toggle-thumb :hover {
  border: none;
  outline: none;
  box-shadow: none;
}

.react-toggle-thumb :focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.react-toggle-thumb :active {
  border: none;
  outline: none;
  box-shadow: none;
}

.menu {
  padding: 1.5rem 1rem !important;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__link--active {
  font-weight: 600;
}

.table-of-contents {
  opacity: 0.4;
}

.table-of-contents:hover {
  opacity: 1;
}

.table-of-contents__link:hover {
  text-decoration: underline;
}

.navbar__item.persistent {
  display: inline-block;
}

@media (max-width: 960px) {
  .menu {
    padding: initial !important;
  }

  .container {
    max-width: 100% !important;
    padding: 1rem;
  }

  .container.padding-top--md {
    padding-top: initial;
  }

  .navbar__item {
    display: none !important;
  }

  .footer {
    display: none;
  }
}